@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Entity Framework Class'</h1>
    <ul>
        <a href="https://www.torneseumprogramador.com.br">
        <li>Video Aula: Torne-se Um Programador</li>
        </a>
        <a href="https://www.learnentityframeworkcore.com/">
        <li>Documentação Entity Framework</li>
        </a>
    </ul>
</div>
